@layer reset, base, tokens, recipes, utilities;

:root {
  --background: hsl(0, 0%, 94%);
  --foreground: #000000;
  --primary: hsl(340, 87%, 48%);
  --primary-hover: hsl(340, 87%, 58%);
  --text-forground: hsl(220, 1%, 45%);
  --text-primary: hsl(0, 0%, 0%);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-gilroy-regular), sans-serif;
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
;
}

h1,
h2 {
  font-family: var(--font-gilroy-bold), sans-serif;
}

p {
  font-family: var(--font-gilroy-regular), sans-serif; /* Ensure paragraphs use regular */
}
